/* CSS Entry Point */
.container {
	height: 700px;
	width: 800px;
	border: 1px solid #dddddd;
	font-family: sans-serif;
	padding-top: 10px;
	position: relative;
}


.organizations li {
	height: 100px;
	width: 700px;
	border: 1px solid #dddddd;
	background-color: #f0f0f0;
	border-radius: 6px;


}

li {
	list-style: none;
	font-size: 52px;
	color: #aaaaaa;
	//text-align: center;
	padding-top: 20px;
	padding-left: 20px;
	margin-top: 10px;
	text-shadow: 1px 1px 1px #f7f7f7;
}




